@import "stylesheets/bootstrap";

body {
  overflow-x: hidden;
  font-family: "Proxima Nova";
}
.site-container {
  width: 100vw;
  min-height: 100vh;
}

/*side area*/

.left-side-bar {
  width: 170px;
  float: left;
  background-color: #fff;
  height: 100vh;
  .logo {
    margin: 34px 0px 0px 50px;
  }
  ul {
    margin: 93px 3px 0px 0px;
    padding: 0px;
    list-style: none;
    li {
      display: block;
      text-align: center;
      margin-bottom: 58px;
      a {
          font-size: 20.83px;
          color: #545b5e;
          line-height: 1.2;
          -moz-transform: matrix( 0.24680339999474,0,0,0.24813398087,0,0);
          -webkit-transform: matrix( 0.24680339999474,0,0,0.24813398087,0,0);
          -ms-transform: matrix( 0.24680339999474,0,0,0.24813398087,0,0);
        img {
          display: block;
          margin: 0px auto 18px auto;
        }
      }
    }
  }
}


/*header area*/

.header-area {
  width: calc(100vw - 170px);
  height: 110px;
  float: left;
  background-color: #fff;
  .search-area {
    float: left;
    margin: 44px 0px 0px 65px;
    input {
      width: 250px;
      background-image: url("../images/search.png");
      background-repeat: no-repeat;
      background-position: left;
      padding-left: 56px;
      font-size: 25px;
      border: none;
      box-shadow: none;
      color: rgb(198, 204, 204);
    }
  }
  .top-right-area {
    width: 490px;
    float: right;
    margin-right: 70px;
    @media screen and (max-width: 1050px) {
      margin-right: 10px;
    }
    .notification-area {
      width: 60px;
      height: 60px;
      float: left;
      margin-top: 21px;
      .notification {
        background-image: url("../images/notification.png");
        background-repeat: no-repeat;
        background-position: left bottom;
        width: 60px;
        height: 60px;
        float: left;

        .alert {
            border-radius: 50%;
            background-color: rgb(57, 205, 208);
            top: 24px;
            width: 35px;
            height: 35px;
          line-height: 35px;
          text-align: center;
          font-size: 21.61px;
          color: #fff;
          padding: 0;
          display: inline-block;
          margin: 4px 0px 0px 24px;
        }
      }
    }
    .user {
      float: left;
      width: 430px;
      .user-thumb {
        float: left;
        margin: 25px 0px 0px 134px;
        img {
          border-radius: 50%;
          border: 1px solid #c8ccd4;
        }
      }
      .user-name {
        float: left;
        font-size: 20.98px;
        font-family: "Proxima Nova";
        color: rgb(84, 91, 94);
        line-height: 1.2;
        margin: 44px 0px 0px 29px;
      }
      .down-menu {
        background-image: url("../images/angle-down.png");
        width: 18px;
        height: 10px;
        float: right;
        margin-top: 52px;
        margin-right: 4px;
      }
    }
  }

}


/*main area*/

.site-main-area {
  float: left;
  width: calc(100vw - 170px);
  min-height: calc(100vh - 110px);
  -webkit-box-shadow: inset 9px 9px 17px -11px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 9px 9px 17px -11px rgba(0,0,0,0.5);
  box-shadow: inset 9px 9px 17px -11px rgba(0,0,0,0.5);
  .main-padding {
    padding: 43px 0px 0px 30px;
    @media screen and (max-width: 1919px) {
      padding: 20px 0px 0px 0px;
    }
  }
}


.sellectors {
  select {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    border-width: 2.083px;
    border-color: rgb(229, 232, 237);
    border-style: solid;
    height: 66.834px;
    background-image: url("../images/angle-down.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 23px);
    padding-right: 0px;
    border-radius: 30px;
    font-size: 20.98px;
    padding-left: 36px;
    @media screen and (max-width: 1919px) {
      font-size: 11.98px;
      padding-left: 15px;
      float: left;
    }
    &.location {
      width: 323px;
      margin-right: 26px;
      @media screen and (max-width: 1919px) {
        width: 200px;
        margin-right: 10px;
      }
    }
    &.date {
      width: 295px;
      @media screen and (max-width: 1919px) {
        width: 200px;
      }
    }
  }
}


.model-one-left-area {
  width: calc(100% - 114px);
  margin: 0px 0px 0px 21px;
  @media screen and (max-width: 1919px) {
    width: 100%;
    margin: 0;
  }
}

.profile-line-model-one {
  position: relative;
  border-radius: 7px;
  background-color: rgb(255, 255, 255);
  width: calc(100%);
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.21);
  margin: 0px 0px 17px 0px;
  display: inline-block;
  padding-bottom: 19px;
  &:first-child {
    margin-top: 39px;
  }


  .profile-image {
    float: left;
    margin: 27px 0px 0px 41px;
    @media screen and (max-width: 1919px) {
      margin: 27px 0px 0px 10px;
    }
    img {
      width: 85px;
      height: 85px;
      border-radius: 50%;
    }
  }
  .profile-details {
    float: left;
    margin: 4px 0px 0px 35px;
    h3 {
      font-size: 28.64px;
      color: #545b5e;
      @media screen and (max-width: 1919px) {
        font-size: 24px;
      }
    }
    .upcoming {
      font-size: 16.19px;
      color: #a6afbe;
      display: block;
      margin: 23px 0px 0px;
      text-transform: uppercase;
      @media screen and (max-width: 1919px) {
        font-size: 14px;
        margin: 10px 0px 0px;
      }
    }
    .clock-icon {
      display: inline-block;
      background-image: url("../images/clock.png");
      width: 32px;
      height: 32px;
      margin: 5px 0px 0px 0px;
    }
    .time-text {
      display: inline-block;
      font-size: 24.91px;
      color: #545b5e;
      vertical-align: top;
      margin: 6px 0px 0px 15px;
      @media screen and (max-width: 1919px) {
        font-size: 18px;
      }
    }
  }
  .view-button-area {
    display: inline-block;
    float: right;
    margin-right: 31px;
    @media screen and (max-width: 1919px) {
      margin-right: 10px;
    }
    a {
      font-size: 22.42px;
      color: white;
      text-align: center;
      display: inline-block;
      background-color: #03b6c8;
      width: 98px;
      height: 40px;
      border-radius: 30px;
      line-height: 40px;
      margin: 102px 0px 0px 0px;
      @media screen and (max-width: 1919px) {
        font-size: 18px;
        width: 68px;
        margin: 50px 0px 0px 0px;
      }

    }
  }

  .active-box {
    background-color: rgb(69, 182, 176);
    position: absolute;
    width: 6px;
    height: 100%;
    right: 0;
    top: 0;
    margin-right: -3px;
    border-radius: 3px;
  }
}


.model-one-right-area {
  margin-right: 90px;
  @media screen and (max-width: 1919px) {
    margin: 0;
  }
}

ul {
  &.change-link {
    margin: 13px 20px 0px 20px;
    padding: 0 0 20px 0;
    list-style: none;
    border-bottom: 1px solid #e5e8ed;
    @media screen and (max-width: 1919px) {
      margin: 13px 0px 0px 0px;
    }
    li {
      display: inline-block;
      font-size: 22.92px;
      color: #545b5e;
      @media screen and (max-width: 1919px) {
        font-size: 18px;
      }
      &:first-child {
        margin-right: 164px;
        @media screen and (max-width: 1919px) {
          margin-right: 10px;
        }
      }
      a {
        color: #545b5e;
      }
      &.active {
        color: #45b6b0;
        a {
          color: #45b6b0;
        }
      }
    }
  }
}

.date-and-cond {
  font-size: 18.19px;
  color: #a6afbe;
  margin-top: 22px;
  .col-sm-4 {
    @media screen and (max-width: 1919px) {
      width: 49%;
    }
  }
  .round-area {
    border-width: 2.083px;
    border-color: rgb(229, 232, 237);
    border-style: solid;
    width: 100%;
    height: 43.834px;
    line-height: 43px;
    color: #545b5e;
    font-size: 18.75px;
    display: inline-block;
    border-radius: 30px;
    margin-top: 17px;
    font-weight: 500;
  }
}

.lists {
  margin-top: 20px;
  h3 {
    font-size: 21.82px;
    color: #45b6b0;
    @media screen and (max-width: 1919px) {
      font-size: 13px;
    }
  }
  &.billing {
    h3 {
      color: #545b5e;
    }
  }
  ul {
    list-style:  none;
    padding: 0;
    margin: 0;
    li {
      display: block;
      background-image: url("../images/listli.png");
      background-repeat: no-repeat;
      background-position: left;
      padding-left: 20px;
      font-size: 19.78px;
      color: #545b5e;
      line-height: 32px;
      @media screen and (max-width: 1919px) {
        background-position: left 3px;
        padding-left: 16px;
        font-size: 12px;
        line-height: 18px;
      }
    }
    &.no-style {
      li {
        padding-left: 0;
        background-image: none;
      }
    }
  }
}
.panel-footer-area {
  margin: 52px 20px 62px 20px;
  border-top: 2px solid #e5e8ed;
  padding-top: 32px;
  color: #545b5e;
  font-size: 15.59px;
  span {
    color: #a6afbe;
    display: block;
  }
  &.totals {
    font-size: 21.82px;
    font-weight: 500;
    color: #545b5e;
    span {
      display: inline-block;
      color: #545b5e;
      &.price {
        background-image: url("../images/rupee.png");
        background-repeat: no-repeat;
        background-position: left;
        padding-left: 20px;
        margin-left: 10px;
      }
    }
  }
}

ul {
  &.cicle-icons {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      width: 52px;
      height: 52px;
      border-radius: 50%;
      box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.21);
      text-align: center;
      line-height: 50px;
      margin-left: 20px;
      @media screen and (max-width: 1919px) {
        width: 42px;
        height: 42px;
        line-height: 42px;
        margin-left: 15px;
        margin-bottom: 15px;
      }
      &.blue {
        background-color: #45b6b0;
      }
      &:first-child {
        margin-left: 0;
      }
      img {
        max-width: 100%;
      }
    }
  }
}

.padding-left {
  padding-left: 40px;
}

ul.prices {
  li {
    background-image: url("../images/rupee.png") !important;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 15px;
  }
}

.scrollable-area {
  height: calc(100vh - 340px);
  width: 100%;
  overflow: hidden;
  position: relative;
  .scrollable-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
    overflow-y: scroll;
    .profile-line-model-one {
      width: calc(100% - 40px);
      margin-left: 10px;
    }
  }
}

.total-area {
  border-top: 2px solid #e5e8ed;
  border-bottom: 2px solid #e5e8ed;
  display: block;
  float: left;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  .total-text {
    color: #545b5e;
    font-size: 27.08px;
    padding-left: 40px;
    line-height: 64.834px;
  }
  .total-price {
    padding-right: 40px;
    span {
      border-width: 2.083px;
      border-color: #e5e8ed;
      border-style: solid;
      border-radius: 10px;
      font-size: 27.08px;
      line-height: 64.834px;
      padding: 0px 20px 0px 40px;
      background-image: url(../images/big-rupee.png);
      background-repeat: no-repeat;
      background-position: 9px;
      display: inline-block;
    }
  }
}





.oil-bg-box {
  border-radius: 10px;
  background-color: rgb(52, 142, 153);
  font-size: 11.31px;
  color: #fff;
  border-radius: 10px;
  background-color: #348e99;
  font-size: 11.31px;
  margin-top: 28px;
  padding-top: 26px;
  padding-bottom: 21px;
  margin-bottom: 30px;
  @media screen and (max-width: 1919px) {
    min-height: 214px;
  }
  .icon-area {
    height: 60px;
    display: block;
  }

  h3 {
    color: rgb(57, 205, 208);
    line-height: 1.2;
    font-size: 18.85px;
    @media screen and (max-width: 1919px) {
      display: block;
      min-height: 44px;
    }
  }
  img {

  }
}
.dashboard-main {
  &.col-lg-8 {
    width: 61.89667%;
    @media screen and (max-width: 1199px) {
      width: 100%;
    }
  }
  &.col-lg-4 {
    width: 36.73333%;
    @media screen and (max-width: 1199px) {
      width: 100%;
    }
  }
  ul.change-link li {
    font-size: 14px !important;
  }
  ul.change-link li:first-child {
    margin-right: 60px !important;
    @media screen and (max-width: 1919px) {
      margin-right: 10px !important;
    }
  }
}


.white-bg-box {
  position: relative;
  border-radius: 7px;
  background-color: rgb(255, 255, 255);
  width: calc(100%);
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.21);
  float: left;
  margin-top: 23px;
  @media screen and (max-width: 1919px) {
    min-height: 190px;
  }
  .col-xs-4 {
    img {
      margin-top: 59px;
    }
  }
  h3 {
    font-size: 18.75px;
    color: #545b5e;
    margin-top: 49px;
  }
  h2 {
    font-size: 35.42px;
    color: #45b6b0;
    margin-bottom: 0;
  }
  a {
    color: #45b7b1;
    font-size: 16.67px;
    padding-bottom: 9px;
  }
  .tree-dots {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../images/three-dots.png");
    width: 28px;
    height: 6px;
    margin: 15px;
  }
}

.big-button {
  background-color: rgb(255, 255, 255);
  width: 308px;
  height: 85px;
  line-height: 85px;
  display: inline-block;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.21);
  text-align: center;
  color: rgb(69, 182, 176);
  font-size: 27.08px;
  margin-top: 30px;
  border-radius: 40px;
  margin-bottom: 20px;

}


.dashboard-main {
  .profile-image {
    width: 67px;
    height: 68px;
    margin: 27px 0px 0px 16px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .profile-line-model-one {
    .profile-details {
      margin: 10px 0px 0px 24px;
      h3 {
        font-size: 20.07px;
      }
      span {
        color: #a6afbe;
        font-size: 17.25px;
        display: inline-block;
        margin-right: 10px;
      }
    }
    .link-area {
      float: right;
      a {
        background-color: #03b6c8;
        color: #fff;
        line-height: 40px;
        display: inline-block;
        padding: 0px 30px;
        border-radius: 30px;
        font-size: 19.72px;
        margin: 41px 30px 0px 0px;
      }
    }
    .upcoming {
      display: block;
      color: #545b5e;
      font-size: 16.27px;
      text-transform: uppercase;
      margin: 27px 0px 0px 15px;
    }
    .clock-icon {
      display: inline-block;
      background-image: url("../images/scheduler-mini.png");
      width: 21px;
      height: 21px;
      margin: 17px 0px 0px 17px;
    }
    .time-text {
      font-size: 17.25px;
      color: #545b5e;
      vertical-align: bottom;
      margin: 0px 0px 0px 15px;
    }
    .panel-footer-area {
      margin: 16px 6px 52px 6px;
      border-top: 2px solid #e5e8ed;
      padding-top: 26px;
      color: #545b5e;
      font-size: 15.59px;
      ul.cicle-icons {
        margin: 0 12px 0 0px;
        padding: 0;
        list-style: none;
      }
      ul.cicle-icons li {
        display: inline-block;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.21);
        text-align: center;
        line-height: 45px;
        margin-left: 11px;
      }
    }
  }
}


.calendar-page {
  &.col-lg-7 {
    width: 53.33333%;
    @media screen and (max-width: 1199px) {
      width: 100%;
    }

  }
  &.col-lg-5 {
    width: 44.66667%;
    @media screen and (max-width: 1199px) {
      width: 100%;
    }
  }


  .callendar-area {
    padding-bottom: 50px;
    ul.cicle-icons {
      margin: -72px 0 0 2px;
      z-index: 9999;
      position: relative;
      @media screen and (max-width: 1919px) {
        margin: -42px 0 0 0px;
      }
    }
    ul.cicle-icons li {
      width: 82px;
      height: 82px;
      line-height: 80px;
      margin-left: 30px;
      background-color: #fff;
      &.blue {
        background-color: #45b6b0;
      }
      @media screen and (max-width: 1919px) {
        width: 52px;
        height: 52px;
        line-height: 50px;
        margin-left: 13px;
      }
    }
  }

  .profile-image {
    width: 67px;
    height: 68px;
    margin: 18px 0px 0px 28px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .profile-line-model-one {
    .profile-details {
      margin: 8px 0px 0px 22px;
      h3 {
        font-size: 20.07px;
      }
      span {
        color: #a6afbe;
        font-size: 17.25px;
        display: inline-block;
        margin-right: 10px;
      }
    }
    .link-area {
      float: right;
      a {
        background-color: #03b6c8;
        color: #fff;
        line-height: 40px;
        display: inline-block;
        padding: 0px 30px;
        border-radius: 30px;
        font-size: 19.72px;
        margin: 41px 30px 0px 0px;
      }
    }
    .upcoming {
      display: block;
      color: #545b5e;
      font-size: 16.27px;
      text-transform: uppercase;
      margin: 27px 0px 0px 15px;
    }
    .clock-icon {
      display: inline-block;
      background-image: url("../images/scheduler-mini.png");
      width: 21px;
      height: 21px;
      margin: 17px 0px 0px 17px;
    }
    .time-text {
      font-size: 17.25px;
      color: #545b5e;
      vertical-align: bottom;
      margin: 0px 0px 0px 15px;
    }
    .panel-footer-area {
      margin: 27px 15px 62px 15px;
      border-top: 2px solid #e5e8ed;
      padding-top: 20px;
      color: #545b5e;
      font-size: 18.87px;
      span {

      }
      ul.cicle-icons {
        margin: 0 12px 0 0px;
        padding: 0;
        list-style: none;
      }
      ul.cicle-icons li {
        display: inline-block;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.21);
        text-align: center;
        line-height: 53px;
        margin-left: 11px;
      }
    }
  }
  .new-app {
    float: right;
    color: #545b5e;
    font-size: 21.23px;
    margin: 28px 26px 0px;
    span {
      display: block;
      color: #a6afbe;
      font-size: 18.87px;
    }
  }

}





.modal-backdrop.in {
  opacity: 0.77;
}
#firstModal {
  .modal-dialog {
    width: 963px;
    margin: 30px auto;
    height: 100vh;
  }
}


.first-modal-window {
  display: block;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  width: 963px;
  height: 523px;
  h3 {
    color: rgb(69, 182, 176);
    font-size: 27.08px;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  a {
    display: inline-block;
    color: #545b5e;
    font-size: 22.92px;
    border-width: 2.083px;
    border-color: rgb(229, 232, 237);
    border-style: solid;
    width: 401.834px;
    line-height: 66.834px;
    background-repeat: no-repeat;
    background-position: 40px;
    border-radius: 30px;
    margin-bottom: 50px;

    &.appointment {
      background-image: url("../images/appointment.png");
    }
    &.days {
      background-image: url("../images/blockDates.png");
    }
    &.undays {
      background-image: url("../images/UnblockDates.png");
    }
  }
  .limiter {
    width: 420px;
    margin: auto;
  }

}



#secondModal {
  .modal-dialog {
    width: 593px;
    margin: 30px auto;
    height: 100vh;
  }
}


.second-modal-window {
  display: block;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  width: 593px;
  height: 618px;
  .header-area {
    color: #545b5e;
    font-size: 20.83px;
    width: 100%;
    margin-top: 16px;
    h3 {
      color: #45b6b0;
      font-size: 25px;
      margin-left: 16px;
    }
    .date-area {
      padding: 16px 30px 0px 0px;
    }
    span {
      color: #a6afbe;
      font-size: 18.75px;
    }
  }
  .line {
    color: #545b5e;
    font-size: 20.83px;
    margin-top: 10px;
    padding: 0px 35px;
    margin-bottom: 25px;
    &.balance {
      background-image: url("../images/border-top.png");
      background-repeat: repeat-x;
      background-position: top;
      padding-top: 45px;
      padding-bottom: 70px;
    }
    span {
      display: block;
      font-size: 18.75px;
      color: #a6afbe;
      &.rupi {
        color: #545b5e;
        font-size: 27.08px;
        border-width: 2.083px;
        border-color: rgb(229, 232, 237);
        border-style: solid;
        border-radius: 10px;
        line-height: 64.834px;
        display: inline-block;
        width: 195.834px;
        float: right;
        text-align: center;
        margin-top: -9px;
        &:before {
          content: "";
          background-image: url(../images/big-rupee.png);
          width: 15px;
          height: 21px;
          position: absolute;
          left: 0;
          margin-top: 22px;
          margin-left: 23px;
        }


      }
    }
  }
  .full-button {
    width: 100%;
    display: inline-block;
    color: #fff;
    border-radius: 10px;
    background-color: rgb(69, 182, 176);
    line-height: 123px;
    font-size: 27.08px;
    text-align: center;
  }

}

